<ion-list>
  <ion-item-sliding *ngFor="let list of whishesService.lists | filterCompleted: completed">
    <ion-item-options side="start">
      <ion-item-option
                      (click)="editList( list )"
                      color="tertiary">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>
      <ion-item
                (click)=" listNavigate( list ) " 
                detail >
        <ion-label> {{ list.title }} </ion-label>
        <ion-note slot="end" color="tertiary">{{ list.items.length }} items</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
                        (click)="deleteList( list )"
                        color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
  </ion-item-sliding>
</ion-list>
